/atividade aula sla.c
/dias da giulia bezerra amor da vida dele
/ESTUDOS.c
/lista1 q1.c
/lista1 q10.c
/lista1 q2.c
/lista1 q3.c
/lista1 q4.c
/lista1 q5.c
/lista1 q6.c
/lista1 q7.c
/lista1 q8.c
/lista1 q9.c
/main.c
/output
/sla.c